<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Github Warden</title>
</head>
<body>
  :-)

<p>secret_token: <%= @secret_token %></p>
<p>secret_api_key: <%= @secret_api_key %></p>
<p>threads count: <%= @threads_count %></p>
</body>
</html>