<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Github Warden</title>
</head>
<body>
  :-)

<p>version: <%= @version %></p>
<p>secret_token: <%= @secret_token %></p>
<p>Redis connected: <%= @redis_ping %></p>
<p>Queue length: <%= @commits_count %></p>
</body>
</html>